USE [OficiNet]
GO
/****** Object:  Table [dbo].[Tb_Cliente]    Script Date: 12/01/2015 23:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_Cliente](
	[Id_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Telefone] [nvarchar](50) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Tipo_Pessoa] [char](1) NOT NULL,
	[CPF] [varchar](20) NULL,
	[CNPJ] [varchar](20) NULL,
	[Sexo] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Cliente] ON
INSERT [dbo].[Tb_Cliente] ([Id_Cliente], [Nome], [Telefone], [DataCadastro], [Tipo_Pessoa], [CPF], [CNPJ], [Sexo]) VALUES (2, N'Bia', N'(21) 3454-5678', CAST(0x0000A55100B240D0 AS DateTime), N'F', N'906.302.130-54', N'', N'F')
INSERT [dbo].[Tb_Cliente] ([Id_Cliente], [Nome], [Telefone], [DataCadastro], [Tipo_Pessoa], [CPF], [CNPJ], [Sexo]) VALUES (3, N'Rita', N'(12) 32323-2332', CAST(0x0000A55F00B12790 AS DateTime), N'F', N'533.301.255-51', N'', N'F')
INSERT [dbo].[Tb_Cliente] ([Id_Cliente], [Nome], [Telefone], [DataCadastro], [Tipo_Pessoa], [CPF], [CNPJ], [Sexo]) VALUES (5, N'Leo', N'(21) 34455-6788', CAST(0x0000A55F00C301E0 AS DateTime), N'F', N'418.867.111-43', N'', N'M')
SET IDENTITY_INSERT [dbo].[Tb_Cliente] OFF
/****** Object:  Table [dbo].[Tb_Usuario]    Script Date: 12/01/2015 23:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Usuario] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[_Login] [nvarchar](50) NOT NULL,
	[Senha] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tb_Usuario] ON
INSERT [dbo].[Tb_Usuario] ([Id_Usuario], [Nome_Usuario], [Email], [_Login], [Senha]) VALUES (2, N'Douglas Leonardo', N'douglas.loc@hotmail.com', N'admin', N'21232f297a57a5a743894ae4a801fc3')
SET IDENTITY_INSERT [dbo].[Tb_Usuario] OFF
/****** Object:  Table [dbo].[Tb_Veiculo]    Script Date: 12/01/2015 23:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Veiculo](
	[Id_Veiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Ano] [nvarchar](50) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[FK_Id_Cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Veiculo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tb_Veiculo] ON
INSERT [dbo].[Tb_Veiculo] ([Id_Veiculo], [Placa], [Modelo], [Ano], [Marca], [FK_Id_Cliente]) VALUES (3, N'tre3215', N'BMW', N'2000', N'c1', 3)
INSERT [dbo].[Tb_Veiculo] ([Id_Veiculo], [Placa], [Modelo], [Ano], [Marca], [FK_Id_Cliente]) VALUES (4, N'wer1234', N'Vectra', N'2012', N'GM', 2)
INSERT [dbo].[Tb_Veiculo] ([Id_Veiculo], [Placa], [Modelo], [Ano], [Marca], [FK_Id_Cliente]) VALUES (5, N'saq1234', N'Honda City', N'2010', N'Honda', 2)
SET IDENTITY_INSERT [dbo].[Tb_Veiculo] OFF
/****** Object:  Table [dbo].[Tb_Endereco]    Script Date: 12/01/2015 23:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Endereco](
	[Id_Endereco] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](50) NOT NULL,
	[Complemento] [nvarchar](50) NOT NULL,
	[Bairro] [nvarchar](50) NOT NULL,
	[Cidade] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FK_Id_Cliente] [int] NOT NULL,
	[Logradouro] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Endereco] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tb_Endereco] ON
INSERT [dbo].[Tb_Endereco] ([Id_Endereco], [Numero], [Complemento], [Bairro], [Cidade], [Estado], [FK_Id_Cliente], [Logradouro]) VALUES (2, N'876', N'Casa 2', N'Penha', N'rio de janeiro', N'RJ', 2, N'Rua Aurélio de Oliveira')
INSERT [dbo].[Tb_Endereco] ([Id_Endereco], [Numero], [Complemento], [Bairro], [Cidade], [Estado], [FK_Id_Cliente], [Logradouro]) VALUES (3, N'133', N'Casa 2', N'senador camara', N'rio de janeiro', N'RJ', 3, N'Rua Aurélio de Oliveira')
INSERT [dbo].[Tb_Endereco] ([Id_Endereco], [Numero], [Complemento], [Bairro], [Cidade], [Estado], [FK_Id_Cliente], [Logradouro]) VALUES (5, N'123', N'casa 1', N'senador camara', N'rio de janeiro', N'RJ', 5, N'Rua Aurélio de Oliveira')
SET IDENTITY_INSERT [dbo].[Tb_Endereco] OFF
/****** Object:  Table [dbo].[Tb_Ordem_Servico]    Script Date: 12/01/2015 23:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Ordem_Servico](
	[Id_Ordem_Servico] [int] IDENTITY(1,1) NOT NULL,
	[Protocolo] [int] NOT NULL,
	[DataCadastro] [date] NOT NULL,
	[Observacoes] [nvarchar](max) NOT NULL,
	[Valor] [float] NOT NULL,
	[_Status] [nvarchar](50) NULL,
	[FK_Id_Cliente] [int] NOT NULL,
	[FK_Id_Veiculo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Ordem_Servico] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tb_Ordem_Servico] ON
INSERT [dbo].[Tb_Ordem_Servico] ([Id_Ordem_Servico], [Protocolo], [DataCadastro], [Observacoes], [Valor], [_Status], [FK_Id_Cliente], [FK_Id_Veiculo]) VALUES (17, 1001, CAST(0xB93A0B00 AS Date), N'lateral quebrada', 100, N'Aberto', 3, 4)
INSERT [dbo].[Tb_Ordem_Servico] ([Id_Ordem_Servico], [Protocolo], [DataCadastro], [Observacoes], [Valor], [_Status], [FK_Id_Cliente], [FK_Id_Veiculo]) VALUES (18, 1002, CAST(0xBA3A0B00 AS Date), N'lateral', 100, N'Aberto', 3, 4)
SET IDENTITY_INSERT [dbo].[Tb_Ordem_Servico] OFF
/****** Object:  StoredProcedure [dbo].[EditarVeiculo]    Script Date: 12/01/2015 23:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditarVeiculo]
	@Placa nvarchar(50),
	@Modelo nvarchar(50),
	@Marca nvarchar(50),
	@Ano nvarchar(50),
	@Id_Veiculo integer,
	@FK_Id_Cliente integer


as
--declare 
	--@ChaveEstrangeira integer
	begin 
		begin try 
			begin transaction 
				
				update Tb_Veiculo set Placa=@Placa, Modelo=@Modelo, Marca=@Marca, Ano=@Ano, FK_Id_Cliente=@FK_Id_Cliente where Id_Veiculo = @Id_Veiculo ;
				
				commit 
		end try 
		begin catch 
			rollback 
		end catch 
	end
GO
/****** Object:  StoredProcedure [dbo].[EditarCliente]    Script Date: 12/01/2015 23:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[EditarCliente]
	@Id_Cliente integer,
	@Nome nvarchar(50),
	@Telefone nvarchar(50),
	@DataCadastro nvarchar(50),
	@Sexo nvarchar(10),
	-- @Tipo_Pessoa char(1),
	-- @CPF nvarchar(20),
	-- @CNPJ nvarchar(20),
	
	@Numero nvarchar(50),
	@Complemento nvarchar(50),
	@Bairro nvarchar(50),
	@Cidade nvarchar(50),
	@Estado nvarchar(50),
	@Logradouro nvarchar(max)

as
--declare 
	--@ChaveEstrangeira integer
	begin 
		begin try 
			begin transaction 
				
				update Tb_Cliente set Nome = @Nome, Telefone=@Telefone, DataCadastro=@DataCadastro, Sexo = @Sexo where Id_Cliente = @Id_Cliente ;
				
				--set @ChaveEstrangeira = (select IDENT_CURRENT('Tb_Cliente'));
				
				update Tb_Endereco set Numero =@Numero, Complemento = @Complemento, Bairro = @Bairro, Cidade = @Cidade, Estado = @Estado, Logradouro = @Logradouro where FK_Id_Cliente = @Id_Cliente;
				commit 
		end try 
		begin catch 
			rollback 
		end catch 
	end
GO
/****** Object:  StoredProcedure [dbo].[CadCliente]    Script Date: 12/01/2015 23:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CadCliente]
	@Nome nvarchar(50),
	@Telefone nvarchar(50),
	@DataCadastro nvarchar(50),
	@Tipo_Pessoa char(1),
	@CPF nvarchar(20),
	@CNPJ nvarchar(20),
	@Sexo nvarchar(10),
	
	@Numero nvarchar(50),
	@Complemento nvarchar(50),
	@Bairro nvarchar(50),
	@Cidade nvarchar(50),
	@Estado nvarchar(50),
	@Logradouro nvarchar(max)
	

as
declare 
	@ChaveEstrangeira integer
	begin 
		begin try 
			begin transaction 
				
				insert into Tb_Cliente(Nome, Telefone, DataCadastro, Tipo_Pessoa, CPF, CNPJ, Sexo) values(@Nome, @Telefone, @DataCadastro, @Tipo_Pessoa, @CPF, @CNPJ,@Sexo);
				
				set @ChaveEstrangeira = (select IDENT_CURRENT('Tb_Cliente'));
				
				insert into Tb_Endereco(Numero, Complemento, Bairro, Cidade, Estado, Logradouro, FK_Id_Cliente) values(@Numero, @Complemento, @Bairro, @Cidade, @Estado,@Logradouro, @ChaveEstrangeira);
				commit 
		end try 
		begin catch 
			rollback 
		end catch 
	end
GO
/****** Object:  StoredProcedure [dbo].[CadVeiculo]    Script Date: 12/01/2015 23:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CadVeiculo]
	@Placa nvarchar(50),
	@Modelo nvarchar(50),
	@Ano nvarchar(50),
	@Marca nvarchar(500),
	@Id_Cliente integer

as
--declare 
	--@ChaveEstrangeira integer
	begin 
		begin try 
			begin transaction 
				
				insert into Tb_Veiculo(Placa, Modelo, Ano, Marca,  FK_Id_Cliente ) values(@Placa, @Modelo, @Ano, @Marca, @Id_Cliente );
				
				--set @ChaveEstrangeira = (select IDENT_CURRENT('Tb_Cliente'));
				
				--insert into Tb_Endereco(Numero, Complemento, Bairro, Cidade, Estado, Logradouro, FK_Id_Cliente) values(@Numero, @Complemento, @Bairro, @Cidade, @Estado,@Logradouro, @ChaveEstrangeira);
				commit 
		end try 
		begin catch 
			rollback 
		end catch 
	end
GO
/****** Object:  StoredProcedure [dbo].[CadOrdemServico]    Script Date: 12/01/2015 23:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CadOrdemServico]
	@Protocolo integer,
	--@DataCadastro date,
	@Observacoes nvarchar(max),
	@Valor float,
	--@Status nvarchar(50),
	@Id_Cliente integer,
	@Id_Veiculo integer
	

as
	begin 
		begin try 
			begin transaction 
				
				insert into Tb_Ordem_Servico (Protocolo, DataCadastro, Observacoes, Valor, _Status, FK_Id_Cliente, FK_Id_Veiculo  ) values(@Protocolo, GETDATE(), @Observacoes, @Valor, 'Aberto', @Id_Cliente, @Id_Veiculo);
			
				commit 
		end try 
		begin catch 
			rollback 
		end catch 
	end
GO
/****** Object:  StoredProcedure [dbo].[Deletar]    Script Date: 12/01/2015 23:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Deletar]
	@IdCliente integer

as
--declare 
	--@ChaveEstrangeira integer
	begin 
		begin try 
			begin transaction 
			    delete from Tb_Ordem_Servico where FK_Id_Cliente = @IdCliente;
				delete from Tb_Endereco where FK_Id_Cliente = @IdCliente;
				delete from Tb_Veiculo where FK_Id_Cliente = @IdCliente;				
				delete from Tb_Cliente where Id_Cliente = @IdCliente;
			commit 
		end try 
		begin catch 
			rollback 
		end catch 
	end
GO
/****** Object:  ForeignKey [FK__Tb_Endere__FK_Id__4222D4EF]    Script Date: 12/01/2015 23:32:08 ******/
ALTER TABLE [dbo].[Tb_Endereco]  WITH CHECK ADD FOREIGN KEY([FK_Id_Cliente])
REFERENCES [dbo].[Tb_Cliente] ([Id_Cliente])
GO
/****** Object:  ForeignKey [FK__Tb_Ordem___FK_Id__60A75C0F]    Script Date: 12/01/2015 23:32:08 ******/
ALTER TABLE [dbo].[Tb_Ordem_Servico]  WITH CHECK ADD FOREIGN KEY([FK_Id_Cliente])
REFERENCES [dbo].[Tb_Cliente] ([Id_Cliente])
GO
/****** Object:  ForeignKey [FK__Tb_Ordem___FK_Id__619B8048]    Script Date: 12/01/2015 23:32:08 ******/
ALTER TABLE [dbo].[Tb_Ordem_Servico]  WITH CHECK ADD FOREIGN KEY([FK_Id_Veiculo])
REFERENCES [dbo].[Tb_Veiculo] ([Id_Veiculo])
GO
/****** Object:  ForeignKey [FK__Tb_Veicul__FK_Id__46E78A0C]    Script Date: 12/01/2015 23:32:08 ******/
ALTER TABLE [dbo].[Tb_Veiculo]  WITH CHECK ADD FOREIGN KEY([FK_Id_Cliente])
REFERENCES [dbo].[Tb_Cliente] ([Id_Cliente])
GO
