<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add
      name="OficiNet"
      connectionString="Data Source=DOUGLASLAPTOP\SQLEXPRESS;Initial Catalog=OficiNet;Integrated Security=True"
      
    />
  </connectionStrings>

  <!--<connectionStrings>
    <add
      name="OficiNet"
     
    connectionString="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9DB29A_bancoOficinet;User Id=DB_9DB29A_bancoOficinet_admin;Password=vencedor2014;"
    />
  </connectionStrings>-->

  <!--Executar o Componente de Login-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
    <system.web>

      <!--Página que pode realizar autenticação-->     
      <authentication mode="Forms">
        <forms loginUrl="/Pages/Login.aspx"/>
      </authentication>
      
      
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
